/* line 3, ../sass/formElements.sass */
.AFMSmallTick {
  background-color: #F0F0F0;
  -moz-border-radius: 25%;
  -webkit-border-radius: 25%;
  border-radius: 25%;
  width: 12px;
  height: 12px;
}

/* line 8, ../sass/formElements.sass */
.AFMTick {
  background-color: transparent;
  border: 3px solid #1c4da3;
  -moz-border-radius: 25%;
  -webkit-border-radius: 25%;
  border-radius: 25%;
  width: 16px;
  height: 16px;
}
