/* line 1, ../sass/resetBasic.sass */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 21, ../sass/resetBasic.sass */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 25, ../sass/resetBasic.sass */
mark {
  background: none;
}

/* line 28, ../sass/resetBasic.sass */
a {
  color: blue;
  text-decoration: none;
}

/* line 32, ../sass/resetBasic.sass */
body {
  font-size: 13px;
  font-family: "Open Sans";
  color: #111;
  background-color: #fff;
}

/* line 37, ../sass/resetBasic.sass */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* line 42, ../sass/resetBasic.sass */
html, body {
  height: 100%;
}

/* line 45, ../sass/resetBasic.sass */
textarea {
  border: none;
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  font-family: inherit;
  resize: none;
  font-size: inherit;
}

/* line 1, ../sass/linkStyles.sass */
.AFMLinkAesthetic {
  color: #26b4ec;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 13px;
  font-family: "Montserrat";
  text-align: center;
  width: 100%;
}

/* line 10, ../sass/linkStyles.sass */
.AFMLinkAesthetic:hover {
  cursor: pointer;
}

/* line 1, ../sass/transitions.sass */
.rollUp-enter-active, .rollUp-leave-active {
  transition: opacity 1.5s;
}

/* line 4, ../sass/transitions.sass */
.rollUp-enter, .rollUp-leave-to {
  opacity: 0;
}

/* line 11, ../sass/workers.sass */
.workerTabTaskDot, .workerTabListElementTick {
  width: 17px;
  padding: 0 10px;
}
/* line 14, ../sass/workers.sass */
.workerTabTaskDot > div, .workerTabListElementTick > div {
  height: 17px;
  -moz-border-radius: 30%;
  -webkit-border-radius: 30%;
  border-radius: 30%;
  border: 2px solid #1c4da3;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 21, ../sass/workers.sass */
.workerTab {
  background-color: #fff;
  border-bottom: 2px solid #c9c9c9;
  width: 100%;
  margin: auto;
  overflow: hidden;
  display: table;
}
/* line 28, ../sass/workers.sass */
.workerTab > header, .workerTab > section {
  display: table-row;
}

/* line 31, ../sass/workers.sass */
.workerTabSectionHeader {
  color: #EEE;
  text-align: center;
  font-size: 14px;
  background-color: #1c4da3;
  font-family: "Montserrat";
  padding: 6px;
  display: table-cell;
}

/* line 38, ../sass/workers.sass */
.workerTabBody > section {
  display: table-cell;
  vertical-align: top;
  overflow: hidden;
  border-left: 2px solid #c9c9c9;
}
/* line 43, ../sass/workers.sass */
.workerTabBody > .workerTabAlerts {
  width: 17%;
}
/* line 45, ../sass/workers.sass */
.workerTabBody > .workerTabInfo {
  width: 28%;
  border-left: 0;
}
/* line 48, ../sass/workers.sass */
.workerTabBody > .workerTabTasks {
  width: 17%;
}
/* line 50, ../sass/workers.sass */
.workerTabBody > .workerTabCompare {
  width: 21%;
}
/* line 52, ../sass/workers.sass */
.workerTabBody > .workerTabStats {
  width: 17%;
}

/* line 55, ../sass/workers.sass */
.workerTabInfo {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 57, ../sass/workers.sass */
.workerTabInfo > div {
  display: table;
  width: 100%;
  border-bottom: 1px solid #c9c9c9;
}
/* line 61, ../sass/workers.sass */
.workerTabInfo > div > section {
  display: table-cell;
  vertical-align: top;
}

/* line 65, ../sass/workers.sass */
.workerTabPhotoPart {
  width: 38%;
  background-color: #F0F0F0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 70, ../sass/workers.sass */
.workerTabPhotoPart > figure {
  width: 100%;
  height: 0;
  padding-top: 120%;
  margin: 0;
  border-bottom: 1px solid #c9c9c9;
  margin-bottom: 10px;
  background-color: #497fce;
}

/* line 79, ../sass/workers.sass */
.workerTabInfoContainer {
  border-left: 1px solid #c9c9c9;
  width: 62%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 83, ../sass/workers.sass */
.workerTabInfoContainer > ul {
  font-size: 11.05px;
}

/* line 86, ../sass/workers.sass */
.workerTabInfoChanger {
  text-align: center;
  padding: 1px 0;
  font-size: 11.05px;
}
/* line 87, ../sass/workers.sass */
.workerTabInfoChanger > span {
  display: inline-block;
  margin: 0px 3px;
}
/* line 90, ../sass/workers.sass */
.workerTabInfoChanger > mark {
  display: inline-block;
  color: #26b4ec;
  font-family: "Montserrat";
}

/* line 98, ../sass/workers.sass */
.workerTabInfoChanger:last-child {
  margin-bottom: 6px;
}

/* line 101, ../sass/workers.sass */
.workerTabInfoFront {
  padding: 6px;
}
/* line 103, ../sass/workers.sass */
.workerTabInfoFront h3 {
  font-size: 15.4px;
  font-weight: bold;
  font-family: "Montserrat";
}
/* line 107, ../sass/workers.sass */
.workerTabInfoFront h5 {
  font-size: 15.4px;
  font-family: "Montserrat";
}
/* line 110, ../sass/workers.sass */
.workerTabInfoFront > section {
  display: inline-block;
  margin-right: -4px;
  vertical-align: middle;
}

/* line 115, ../sass/workers.sass */
.workerTabEditData {
  text-align: center;
  width: 35%;
  font-size: 9.1px;
}

/* line 120, ../sass/workers.sass */
.workerTabInfoName {
  width: 65%;
}

/* line 124, ../sass/workers.sass */
.workerTabInfoValue > li {
  padding: 3px 6px;
  border-top: 1px solid #c9c9c9;
}

/* line 129, ../sass/workers.sass */
.workerTabTasksListItem {
  display: table;
  table-layout: fixed;
  border-bottom: 1px solid #c9c9c9;
  width: 100%;
}
/* line 134, ../sass/workers.sass */
.workerTabTasksListItem > div {
  display: table-cell;
  vertical-align: middle;
}

/* line 141, ../sass/workers.sass */
.workerTabSingleTask {
  border-left: 1px solid #c9c9c9;
  padding: 3px 5px;
}
/* line 144, ../sass/workers.sass */
.workerTabSingleTask > mark {
  font-family: "Montserrat";
  font-size: 10.5px;
  color: #111;
}
/* line 146, ../sass/workers.sass */
.workerTabSingleTask > div {
  font-size: 9.75px;
  font-style: italic;
  color: #111;
}

/* line 149, ../sass/workers.sass */
.workerTabAlertHead {
  text-align: center;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 6px;
  border-bottom: 1px solid #c9c9c9;
}

/* line 155, ../sass/workers.sass */
.workerTabAlertAvailable {
  font-family: "Montserrat";
  font-size: 10.5px;
  color: #111;
}
/* line 157, ../sass/workers.sass */
.workerTabAlertAvailable mark {
  color: #13c228;
}

/* line 160, ../sass/workers.sass */
.workerTabAlertWH {
  font-size: 9.75px;
  font-style: italic;
  color: #111;
}

/* line 163, ../sass/workers.sass */
.workerTabSingleAlert {
  padding: 7.2px 6px;
  margin: 6px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

/* line 168, ../sass/workers.sass */
.workerTabAlertName {
  font-family: "Montserrat";
  font-size: 10.5px;
  color: #fff;
}

/* line 171, ../sass/workers.sass */
.workerTabAlertDate {
  font-size: 9.75px;
  font-style: italic;
  color: #fff;
}

/* line 176, ../sass/workers.sass */
.alertSuccess {
  background: rgba(19, 194, 40, 0.85);
}

/* line 179, ../sass/workers.sass */
.alertSuccess.alertSeen {
  background: rgba(19, 194, 40, 0.425);
}

/* line 182, ../sass/workers.sass */
.alertUrge {
  background: rgba(234, 88, 88, 0.85);
}

/* line 185, ../sass/workers.sass */
.alertUrge.alertSeen {
  background: rgba(234, 88, 88, 0.425);
}

/* line 188, ../sass/workers.sass */
.alertWarning {
  background: rgba(207, 198, 10, 0.85);
}

/* line 191, ../sass/workers.sass */
.alertWarning.alertSeen {
  background: rgba(207, 198, 10, 0.425);
}

/* line 194, ../sass/workers.sass */
.worketTabTableHeader > div {
  font-family: "Montserrat";
  font-size: 10.5px;
  color: #111;
  text-align: center;
}

/* line 198, ../sass/workers.sass */
.worketTabTableHeader > ul {
  font-size: 9.75px;
  font-style: italic;
  color: #26b4ec;
  text-align: center;
}
/* line 201, ../sass/workers.sass */
.worketTabTableHeader > ul > li {
  display: inline-block;
  margin: 0 6px;
}
/* line 204, ../sass/workers.sass */
.worketTabTableHeader > ul > li:hover {
  cursor: pointer;
}

/* line 207, ../sass/workers.sass */
.worketTabTableHeader {
  padding-top: 6px;
  padding-bottom: 6px;
}

/* line 211, ../sass/workers.sass */
.workerTabCompareContent table {
  border-top: 1px solid #c9c9c9;
  border-bottom: 1px solid #c9c9c9;
  font-size: 9.1px;
  width: 100%;
  border-collapse: collapse;
  font-family: "Montserrat";
}
/* line 218, ../sass/workers.sass */
.workerTabCompareContent table thead {
  font-size: 7.8px;
}
/* line 220, ../sass/workers.sass */
.workerTabCompareContent table td, .workerTabCompareContent table th {
  width: 21%;
  padding: 6px;
  border: 1px solid #c9c9c9;
}
/* line 224, ../sass/workers.sass */
.workerTabCompareContent table td:first-child, .workerTabCompareContent table th:first-child {
  width: 34%;
  border-left: 0;
}
/* line 227, ../sass/workers.sass */
.workerTabCompareContent table td:last-child, .workerTabCompareContent table th:last-child {
  border-right: 0;
}
/* line 229, ../sass/workers.sass */
.workerTabCompareContent table td:nth-child(3), .workerTabCompareContent table th:nth-child(3) {
  background-color: #F0F0F0;
}

/* line 232, ../sass/workers.sass */
.workerTabStatsContent table {
  width: 100%;
  font-size: 10.4px;
  text-align: center;
  border-collapse: collapse;
  font-family: "Montserrat";
}
/* line 238, ../sass/workers.sass */
.workerTabStatsContent table td, .workerTabStatsContent table th {
  border: 1px solid #c9c9c9;
  padding: 6px;
}
/* line 241, ../sass/workers.sass */
.workerTabStatsContent table td:first-child, .workerTabStatsContent table th:first-child {
  border-left: 0;
}
/* line 243, ../sass/workers.sass */
.workerTabStatsContent table td:last-child, .workerTabStatsContent table th:last-child {
  border-right: 0;
}

/* line 246, ../sass/workers.sass */
.workerTabListElement {
  max-width: 1366px;
}

/* line 249, ../sass/workers.sass */
.workerTabListElementHead {
  width: 100%;
  display: table;
  table-layout: fixed;
  font-family: "Montserrat";
  border-bottom: 1px solid #c9c9c9;
}

/* line 256, ../sass/workers.sass */
.workerTabHeadlineListElement {
  background: #1c4da3;
  border-color: #fff;
  color: #EEE;
}

/* line 261, ../sass/workers.sass */
.workerTabListElementPart {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: table-cell;
  vertical-align: top;
  border-right: 1px solid #c9c9c9;
  padding: 6px;
}

/* line 268, ../sass/workers.sass */
.workerTabListElementTick {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 272, ../sass/workers.sass */
.workerTabListElementTickFilled {
  background-color: #1c4da3;
}

/* line 275, ../sass/workers.sass */
.workerTabListElementTick:hover {
  cursor: pointer;
}

/* line 278, ../sass/workers.sass */
.workerTabListName {
  width: 50%;
}

/* line 281, ../sass/workers.sass */
.workerTabListSurname {
  width: 50%;
}

/* line 285, ../sass/workers.sass */
.workerTabSearchbar .workerTabListElementPart:not(.workerTabListElementTick) {
  padding: 0;
}
/* line 288, ../sass/workers.sass */
.workerTabSearchbar textarea {
  width: 100%;
  padding: 6px;
  overflow: hidden;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
